.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heroContainer {
  /* background-color: var(--primary-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: var(--text-color);
}

.heroText h1 {
  font-size: 3rem;
  font-weight: bold;
}

.heroText p {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.heroText {
  background-color: rgba(0, 0, 0, 0.529);
  padding: 10px;
  border-radius: 9px;
}

.cta-button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.cta-button:hover {
  background-color: #d40813;
}
