.serviceCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 30px;
  border-radius: 12px;
  overflow: hidden;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.serviceCon:nth-child(even) {
  flex-direction: row-reverse;
}

.serviceImgCon {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 45%;
  gap: 10px;
  border-radius: 12px;
  overflow: hidden;
  height: auto;
}

.serviceImg {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.5s ease;
}

.serviceImgCon:hover .serviceImg {
  transform: scale(1.05);
}

.serviceDet {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(145deg, #222, #1a1a1a);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  height: 350px;
  overflow-y: auto;
}

.serviceDet::-webkit-scrollbar {
  width: 10px;
}

.serviceDet::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px;
}

.serviceDet::-webkit-scrollbar-track {
  background-color: var(--accent-color);
  border-radius: 5px;
}

.serviceDet h2 {
  font-size: 1.8rem;
  color: var(--accent-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.serviceDet p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

.serviceDet h3 {
  font-size: 1.3rem;
  color: #ff8c00;
  font-weight: bold;
}




.bookNowBtn:hover {
  background-color: #e67e00;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .serviceCon {
    flex-direction: column;
    align-items: center;
  }

  .serviceImgCon,
  .serviceDet {
    max-width: 100%;
    width: 100%;
  }

  .serviceCon:nth-child(even) {
    flex-direction: column;
  }

  .serviceDet {
    padding: 15px;
    text-align: justify;
    height: 300px;
  }

  .serviceDet h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .serviceDet p {
    font-size: 0.9rem;
  }

  .serviceDet h3 {
    font-size: 1.1rem;              
  }

  .serviceImg {
    height: 200px;
  }

  .bookNowBtn {
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 15px;
  }
}

