.testimonials {
  background: linear-gradient(
    30deg,
    rgb(53, 85, 75) 20%,
    rgb(16, 82, 67) 30%,
    gray
  );
  min-height: 30vh;
  color: white;
}

.testimonials h1 {
  text-align: center;
}
.reviews {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1.875em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1.875em;
  /* -webkit-column-fill: auto; */
  -moz-column-count: 3;
  -moz-column-gap: 1.875em;
  /* -moz-column-fill: auto; */
  column-count: 4;
  column-gap: 1.875em;
  /* column-fill: auto; */
  max-height: 100vh;
  overflow: scroll;
}
.review {
  background-color: #169fe6;
  margin-bottom: 1.875em;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;

  position: relative;
}

.txtReview {
  background-color: gray;
  padding: 20px;
  border-radius: 20px 20px 0px 20px;
  font-size: 16px;
  margin-bottom: 10px;

  text-overflow: ellipsis;
}
.ratings {
  color: aqua;
  font-size: 18px;
  color: #f7dc6f;
  margin-bottom: 10px;
  padding-left: 10px;
}

.imgReview {
  overflow: scroll;
  /* width: 100px; */
  width: 100%;
  display: flex;
  background-color: red;
  /* height: 300px; */
}
.imgReview img {
  /* height: 300px; */
  width: 100%;

  height: 300px;
}
.userInfo {
  background-color: black;
  position: absolute;
  padding: 10px;
  right: 0;
  bottom: 0;
  border-radius: 20px 0px 20px 20px;
}

@media (max-width: 500px) {
  .reviews {
    columns: 1;
    width: 100%;
  }
  .review {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .reviews {
    columns: 2;
  }
}
