* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --primary-color: #101010; /* Deep gray */
  --secondary-color: #c90303; /* Cream */
  --accent-color: #bd990a; /* Gold */
  --background-color: #ffffffc4; /* White */
  --text-color: #ffffff; /* Deep gray */

  /* Typography */
  --font-family: "Montserrat", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  /* Spacing */
  --margin: 20px;
  --padding: 20px;

  /* Border */
  --border-width: 1px;
  --border-style: solid;
  --border-color: #dddddd; /* Light gray */

  /* Shadows */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
body {
  background-color: black;
  color: var(--text-color);
}
