* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --primary-color: #333333; /* Deep gray */
  --secondary-color: #f7f7f7; /* Cream */
  --accent-color: #9a8300; /* Gold */
  --background-color: #ffffff00; /* White */
  --text-color: #333333; /* Deep gray */

  /* Typography */
  --font-family: "Montserrat", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  /* Spacing */
  --margin: 20px;
  --padding: 20px;

  /* Border */
  --border-width: 1px;
  --border-style: solid;
  --border-color: #dddddd; /* Light gray */

  /* Shadows */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
