* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --primary-color: #000000;
  --secondary-color:linear-gradient(135deg, #000000 30%, #0f172a 100%);
  --accent-color: #ffc971;
  --background-color: #ffffffc4;
  --text-color: #ffffff;

  /* Typography */
  --font-family: "Montserrat", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  /* Spacing */
  --margin: 20px;
  --padding: 20px;

  /* Border */
  --border-width: 1px;
  --border-style: solid;
  --border-color:  linear-gradient(135deg, #0a0a0a 20%, #0f172a 100%); /* Light gray */

  /* Shadows */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

